.form-group {
	display: flex;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	align-content: center;
	align-items: center;
	flex-flow: row nowrap;
	margin-bottom: 1em;

	label {
		display: flex;
		align-content: center;
		align-items: center;
		margin-right: 16px;
		min-width: 150px;
	}

	input, select {
		box-sizing: border-box;
		display: flex;
		align-content: center;
		align-items: center;
		height: 37px;
		line-height: 37px;
		padding: 0 0 0 6px;
		border: none;
		background-color: var(--app-control-bg);
		width: 100%;
		min-width: 250px;
		outline: none !important;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
		font-size: var(--app-small-font-size);
		border-radius: 7px;
		transition: border .2s ease, background .2s ease;

		&:before {

		}

		&:focus, &:active {
			outline: none;
			box-shadow: 0 0 0 4px rgba(255, 191, 1, 0.8);
		}

		&.short-field {
			width: auto;
		}
	}

	&.error {
		label {
			color: var(--app-danger-bg);
		}

		input {
			box-shadow: 0 0 0 1px var(--app-danger-bg);

			&:focus, &:active {
				outline: none;
				box-shadow: 0 0 0 4px rgba(250, 32, 83, 0.8);
			}
		}
	}

	&.button-row {
		.stub {
			width: 100%;
		}

		a {
			white-space: nowrap;
		}

		button {
			margin-right: 8px;
			white-space: nowrap;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	button, a {
		font-size: var(--app-small-font-size);
	}
}

::-webkit-input-placeholder {
	color: var(--app-placeholder-text);
}

::-moz-placeholder {
	color: var(--app-placeholder-text);
}

:-ms-input-placeholder {
	color: var(--app-placeholder-text);
}

:-moz-placeholder {
	color: var(--app-placeholder-text);
}

::placeholder {
	color: var(--app-placeholder-text);
}


.app-form {
	display: flex;
	flex-flow: column nowrap;
	width: fit-content;
	min-width: 500px;
	margin: 0 auto;

	.app-form-content {
		width: auto;
	}

	.app-form-footer {
		margin-top: 64px;
		padding-top: 16px;
		border-top: 1px solid var(--app-background-darken-shade-1);
		display: flex;
		flex-flow: row nowrap;

		.btn {
			margin-right: .4em;
		}

		.right-buttons {
			margin-left: auto;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			align-content: center;

			.btn {
				margin-right: 0;
				margin-left: .4em;
			}
		}
	}
}
