.form-group {
	display: flex;
	width: 100%;
	align-content: center;
	align-items: center;
	flex-flow: row nowrap;
	margin-bottom: 1em;

	label {
		display: flex;
		align-content: center;
		align-items: center;
		margin-right: 16px;
		min-width: 150px;
	}

	input {
		box-sizing: border-box;
		font-size: 1em;
		display: flex;
		align-content: center;
		align-items: center;
		height: 32px;
		line-height: 32px;
		padding: 2px 6px;
		border: 1px solid var(--app-border-color);
		background-color: var(--app-background-lighten);
		width: 100%;
		min-width: 250px;
		outline: none !important;
		box-shadow:none !important;
		transition: border .2s ease, background .2s ease;

		&:focus, &:active {
			outline: none;
			box-shadow:none !important;
			border-color: var(--app-border-color-active);
		}
	}

	&.button-row {
		.stub {
			width: 100%;
		}
		a {
			white-space: nowrap;
		}

		button {
			margin-right: 8px;
			white-space: nowrap;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	button, a {
		font-size: var(--app-small-font-size);
	}
}
