@import (inline) "variables.css";
@import (inline) "buttons.css";
@import "forms.less";
@import "typography.less";
@import "checkbox.less";

html, body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

body {
	//background-color: var(--app-background-wall);
	background: linear-gradient(to bottom, var(--app-primary-bg-dark), rgba(0, 0, 0, .95));
	font-family: 'Helvetica Neue', Arial, sans-serif;
	color: #333;
	display: flex;
	flex-flow: column wrap;
	overflow-x: hidden;
	overflow-y: scroll;

	&:after {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background: url('/images/metal.png');
		opacity: .02;
	}
}

body.no-scroll {
	pointer-events: none;
	overflow: hidden;
}

.app-content {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	width: 100%;
	min-width: 600px;
	max-width: 80vw;
	margin: 0 auto;
}

@import "pages.less";
