.app-pages {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 2;
	width: 100%;
	border-radius: 17px;
	overflow: hidden;

	.app-page {
		margin: 32px 0 0 0;
		padding: 32px;
		flex-grow: 2;
		background-color: var(--app-background);
		border-radius: 17px;
		transition: none;
		z-index: 1;
		overflow: hidden;

		display: block;
		position: relative;

		&.no-paddings {
			padding: 0;
			background: none;
			border-radius: 17px;
			align-items: stretch;
			display: flex;
			flex-flow: column nowrap;
			width: 100%;
		}

		.page-content {
			border-radius: 17px 17px 0 0;
			padding: 0;
			margin: 32px 0 0 0;
			height: 100%;
			min-height: 100px;
			position: relative;
			background-color: var(--app-background);

			&:after {
				content: '';
				display: block;
				position: absolute;
				border-radius: 17px 17px 0 0;
				top: 17px;
				left: 0;
				right: 0;
				height: 100vh;
				z-index: -1;
				background-color: var(--app-background);
			}
		}
	}
}

.page-content {
	animation-name: page-panel-appear;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;

	&.extra-paddings {
		padding: 16px !important;
	}
}

@keyframes page-panel-appear {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.top-panel {
	button.press-ghost {
		color: var(--app-primary-text);

		&:hover {
			color: var(--app-primary-text) !important;
		}
	}

	display: flex;
	align-items: flex-start;
	width: 100%;
	white-space: nowrap;
	font-size: var(--app-small-font-size);
	z-index: 1;

	color: var(--app-primary-text);
	padding: 0;

	.top-panel-content {
		display: grid;
		// grid-template-columns: 2fr 3fr 1fr 1fr;
		grid-gap: 8px;
		align-items: stretch;
		width: 100%;
		max-width: 100%;
		white-space: nowrap;
		margin: 0 0 8px 0;

		.row {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			align-content: center;
			background-color: var(--app-primary-bg-light);
			color: var(--app-primary-text);
			padding: 0 16px;
			min-height: 80px;
			border-radius: 7px;
			transform-origin: top left;

			height: 100%;
			animation-name: top-panel-appear;
			animation-duration: .4s;
			animation-timing-function: ease-in-out;
			opacity: .6;
			transition: opacity .2s ease;

			&:hover, &:focus-within {
				opacity: 1;
			}

		}

		.stat {
			cursor: default;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-end;
			padding: 0 16px;
			min-height: 40px;
			height: 100%;

			background-color: var(--app-primary-bg-light);
			color: var(--app-primary-text);
			border-radius: 7px;
			transform-origin: top left;
			opacity: .6;
			transition: opacity .2s ease;

			&:hover {
				opacity: 1;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 16px 0;
				color: var(--app-primary-text-darken);
				width: 8em;
				max-width: 5em;
				min-width: 5em;

				li {
					line-height: 1.4em;
					padding: 0;
					margin: 0;
				}
			}

			.stat-exp {
				display: flex;
				flex-flow: row nowrap;
				margin-right: 1em;
				padding-right: 1em;
				padding-left: 16px;
				color: var(--app-primary-text-darken);
				border-right: 2px solid var(--app-primary-bg);
				height: 100%;
				align-items: center;

				ul {
					li {
						text-align: right;
					}
				}
			}


			animation-name: top-panel-appear;
			animation-duration: .4s;
			animation-timing-function: ease-in-out;
		}

		.stat-info {
			height: 100%;
			flex: 1;
			background-color: var(--app-primary-bg-light-shade-1) !important;
		}

		.stat-content {
			display: flex;
			flex-flow: row nowrap;
			padding: 16px 0;
		}

		.stat-wrapper {
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
			grid-gap: 8px;

			.stat-row {
				flex-flow: row nowrap;
				height: 100%;
				margin-right: 0 !important;
			}

		}
	}

	position: relative;

	transform-origin: top left;
	animation-name: top-panel-appear;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
}

@keyframes top-panel-appear {
	0% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0);
	}
}
