.app-pages {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 2;
	width: 100%;
	border-radius: 17px;
	overflow: hidden;

	.app-page {
		margin: 32px 0 0 0;
		padding: 32px;
		flex-grow: 2;
		background-color: var(--app-background);
		border-radius: 17px;
		transition: none;
		z-index: 1;
		// overflow: hidden;

		display: block;
		position: relative;

		&.no-paddings {
			padding: 0;
			background: none;
			border-radius: 17px;
			align-items: stretch;
			display: flex;
			flex-flow: column nowrap;
			width: 100%;
		}

		.page-content {
			border-radius: 17px;
			padding: 0;
			margin: 32px 0 0 0;
			height: 100%;
			min-height: 100px;
			position: relative;
			background-color: var(--app-background);

			&:after {
				content: '';
				display: block;
				position: absolute;
				border-radius: 17px 17px 0 0;
				top: 17px;
				left: 0;
				right: 0;
				height: 100vh;
				z-index: -1;
				background-color: var(--app-background);
			}
		}
	}
}

.app-pages {
	.app-page {
		&.loaded {
			animation-name: page-loaded-appear;
			animation-duration: 0.2s;
			animation-timing-function: ease;
		}

		&.not-loaded {
			background: none;
		}
	}
}

.page-content {
	animation-name: page-panel-appear;
	animation-duration: 0.8s;
	animation-timing-function: ease;

	&.extra-paddings {
		padding: 32px !important;
	}
}

.top-panel {
	button.press-ghost {
		color: var(--app-primary-text);

		&:hover {
			color: var(--app-primary-text) !important;
		}
	}

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	white-space: nowrap;
	font-size: var(--app-small-font-size);
	z-index: 1;
	min-width: 100%;
	margin: 0 -4px 0 0;

	color: var(--app-primary-text);
	padding: 0;

	.top-panel-content {
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-items: stretch;
		justify-content: stretch;
		max-width: 100%;
		margin: 0 -8px 0 0;

		.block {
			cursor: default;
			display: flex;
			flex-grow: 1;
			flex-shrink: 1;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-end;
			padding: 0 8px;
			min-height: 40px;

			background-color: var(--app-primary-bg-light);
			color: var(--app-primary-text);
			border-radius: 7px;
			transform-origin: top left;
			opacity: .8;
			transition: opacity .2s ease;
			margin-bottom: 8px;

			margin-right: 4px;

			&:hover {
				opacity: 1;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 16px 0;
				color: var(--app-primary-text-darken);
				width: 8em;
				max-width: 5em;
				min-width: 5em;

				li {
					line-height: 1.4em;
					padding: 0;
					margin: 0;
				}
			}

			.stat-exp {
				display: flex;
				flex-flow: row nowrap;
				height: 100%;
				margin-right: 1em;
				padding-right: 1em;
				padding-left: 16px;
				color: var(--app-primary-text-darken);
				border-right: 2px solid var(--app-primary-bg);
				align-items: center;

				ul {
					li {
						text-align: right;
					}
				}
			}

			animation-name: top-panel-appear;
			animation-duration: .4s;
			animation-timing-function: ease;
		}

		.block-info {
			// flex: 1;
			background-color: var(--app-primary-bg-light-shade-1) !important;
		}

		.block-content {
			display: flex;
			flex-flow: row nowrap;
			padding: 8px 0;
		}

		.block-left {
			justify-content: flex-start;
		}

		.block-min {
			width: auto !important;
			padding: 0 16px;
			flex-grow: 0;
			flex-shrink: 1;
		}
	}

	position: relative;

	transform-origin: top left;
	animation-name: top-panel-appear;
	animation-duration: .4s;
	animation-timing-function: ease;
}

.wait-message {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 1px;
	color: var(--app-remark-text);
	font-style: italic;
	font-size: .8em;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes page-loaded-appear {
	0% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes top-panel-appear {
	0% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes page-panel-appear {
	0% {
		opacity: 0;
		transform: translateY(15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
