/* https://press-css.io/ */
.press {
    box-sizing: border-box;
    background-color: var(--p);
    border: none;
    color: var(--c);
    cursor: pointer;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s ease, color .2s ease, opacity .2s ease;
    outline: none;
    font-size: var(--app-font-size);
    border-radius: 12px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.press-red {
    --p: #d01f57;
    --c: #fff;
    --h: #ea2c69;
    --a: #af1d4c
}

.press-pink {
    --p: #E91E63;
    --c: #000;
    --h: #eb3573;
    --a: #c1134e
}

.press-purple {
    --p: #9C27B0;
    --c: #fff;
    --h: #af2cc5;
    --a: #771e86
}

.press-deeppurple {
    --p: #673AB7;
    --c: #fff;
    --h: #7446c4;
    --a: #512e90
}

.press-indigo {
    --p: #3F51B5;
    --c: #fff;
    --h: #4d5ec1;
    --a: #32408f
}

.press-blue {
    --p: var(--app-primary-bg);
    --c: var(--app-primary-text);
    --h: var(--app-primary-bg-lighten);
    --a: var(--app-primary-bg-darken);
}

.press-lightblue {
    --p: #03A9F4;
    --c: #000;
    --h: #14b4fc;
    --a: #0286c2
}

.press-cyan {
    --p: #00BCD4;
    --c: #000;
    --h: #00d3ee;
    --a: #008fa1
}

.press-teal {
    --p: #009688;
    --c: #000;
    --h: #00b09f;
    --a: #00635a
}

.press-green {
    --p: #4CAF50;
    --c: #000;
    --h: #5cb860;
    --a: #3d8b40
}

.press-lightgreen {
    --p: #BBC34A;
    --c: #000;
    --h: #c2c95d;
    --a: #9ca436
}

.press-lime {
    --p: #CDDC39;
    --c: #000;
    --h: #d2e04f;
    --a: #b2c022
}

.press-yellow {
    --p: #FFEB3B;
    --c: #000;
    --h: #fe5;
    --a: #ffe608
}

.press-amber {
    --p: #FFC107;
    --c: #000;
    --h: #ffc721;
    --a: #d39e00
}

.press-orange {
    --p: #FF9800;
    --c: #000;
    --h: #ffa21a;
    --a: #cc7a00
}

.press-deeporange {
    --p: #FF5722;
    --c: #000;
    --h: #ff6a3c;
    --a: #ee3900
}

.press-brown {
    --p: #795548;
    --c: #fff;
    --h: #896052;
    --a: #593f35
}

.press-grey {
    --p: #9E9E9E;
    --c: #000;
    --h: #ababab;
    --a: #858585
}

.press-bluegrey {
    --p: #607D8B;
    --c: #000;
    --h: #6b8a99;
    --a: #4b626d
}

.press-black {
    --p: #000;
    --c: #fff;
    --h: #0d0d0d;
    --a: #000
}

.press-white {
    --p: #fff;
    --c: #000;
    --h: #fff;
    --a: #e6e6e6
}

.press-pill {
    border-radius: 20px / 50%
}

.press-round {
    border-radius: 8px
}

.press-circle {
    border-radius: 50%;
    height: 2.5em;
    padding: 0;
    width: 2.5em;
    white-space: nowrap
}

.press-raised {
    box-shadow: 2px 3px 20px 3px rgba(51, 51, 51, 0.4)
}

.press:disabled {
    cursor: default;
    background-color: #ddd;
    color: #aaa;
    box-shadow: none;
}

.press-ghost {
    color: var(--app-link-text);
    background-color: transparent;
}

.press-ghost.press-red {
    color: var(--app-error-bg);
}

.press-ghost.press-red:disabled {
    color: #aaa;
}

.press-ghost:hover {
    color: var(--app-link-text-active) !important;
    text-decoration: underline;
}

.press-ghost.press-red:hover {
    color: #fff !important;
}

.press-ghost:disabled {
    background-color: transparent;
    pointer-events: none;
    color: #aaa !important;
}

.press-ghost:focus, .press-ghost:focus-within {
    text-decoration: underline;
    box-shadow: none !important;
}

.press:hover:not(:disabled) {
    background-color: var(--h)
}

.press:active:not(:disabled) {
    background-color: var(--a)
}

.press-ghost:hover:not(:disabled) {
    color: var(--c)
}

.press-sm {
    font-size: 0.8em
}

.press-lg {
    font-size: 1.25em
}

.press-xl {
    font-size: 1.5em
}

.press:focus, .press:focus-within {
    outline: none;
    box-shadow: 0 0 0 4px rgba(129, 34, 237, 0.4);
}
