:root {
    --app-very-big-font-size: 28px;
    --app-big-font-size: 20px;
    --app-font-size: 16px;
    --app-small-font-size: 14px;
    --app-very-small-font-size: 12px;

    --app-accent-background: #9835ee;
    --app-accent-text: #fff;

    --app-background: #f0f0f0;
    --app-background-wall: #565e5f;
    --app-white-bg: #fff;

    --app-primary-bg: #0683b8;
    --app-primary-bg-lighten: #079ede;
    --app-primary-bg-light: #239dd0;
    --app-primary-bg-darken: #056892;
    --app-primary-text: #fff;
    --app-primary-text-darken: #a3ddf1;

    --app-secondary-bg: #bdd6de;
    --app-secondary-bg-lighen: #079ede;
    --app-secondary-bg-darken: #056892;
    --app-secondary-text: #fff;

    --app-card-background: #fff;
    --app-card-text: #555;

    --app-info-bg: #1872d2;
    --app-info-bg-darken: #135dac;
    --app-info-text: #fff;

    --app-warn-bg: #fac802;
    --app-warn-bg-darken: #d9ae00;
    --app-warn-text: #2b1206;

    --app-error-bg: #f32152;
    --app-error-bg-darken: #d51e49;
    --app-error-text: #fff;

    --app-success-bg: #b7f60a;
    --app-success-bg-darken: #99cd0a;
    --app-success-text: #1d3118;

    --app-background-darken: #e2e2e2;
    --app-background-darken-shade-1: #cbcbcb;

    --app-background-lighten: #f8f8f8;

    --app-text: #333;
    --app-placeholder-text: #ccc;

    --app-menu-bg: #1872d2;
    --app-menu-bg-active: #1562b4;
    --app-menu-text: #fff;

    --app-border-color: #1872d2;
    --app-border-color-active: #9118d2;
    --app-border-color-disabled: #ccc;

    --app-control-bg: #fff;
    --app-control-bg-disabled: #eee;
    --app-control-text: #222;
    --app-control-text-disabled: #999;

    --app-remark-text: #94a6ac;

    --app-link-text: #2196f3;
    --app-link-text-active: #2b6699;
    --app-danger-link-text: #f32152;
    --app-danger-link-text-active: #931432;

    --app-tab-active-bg: #c5c7cb;
    --app-tab-active-text: #333;

    --app-menu-logged-in-bg: #1f505f;
    --app-menu-logged-in-text: #fff;

    --app-menu-logged-out-text: #fff;

    --app-table-header-bg: #2b6699;
    --app-table-header-text: #fff;
    --app-table-border: #f2f2f2;
    --app-table-even-bg: #f2f2f2;
    --app-table-highlight-bg: #e2f6ff;
}
