:root {
    --app-font-family: "Helvetica Neue", Arial, sans-serif;
    --app-very-big-font-size: 28px;
    --app-big-font-size: 20px;
    --app-font-size: 16px;
    --app-small-font-size: 14px;
    --app-very-small-font-size: 12px;

    --app-accent-background: #eec635;
    --app-accent-text: #000;

    --app-background: #f0f0f0;
    --app-background-wall: var(--app-primary-bg);
    --app-white-bg: #fff;

    --app-primary-bg: #10619c;
    --app-primary-bg-darken: #0f5b91;
    --app-primary-bg-dark: #0c4771;
    --app-primary-bg-darkest: #0d3049;
    --app-primary-bg-lighten: #1271b5;
    --app-primary-bg-light: #1b84cf;
    --app-primary-bg-light-shade-1: #3d83b6;
    --app-primary-text: #fff;
    --app-primary-text-darken: #c0d5e3;

    --app-card-background: #fff;
    --app-card-text: #555;

    --app-info-bg: #359ce0;
    --app-info-bg-darken: #3292d1;
    --app-info-text: #fff;

    --app-warn-bg: #fdd543;
    --app-warn-bg-darken: #e6c13c;
    --app-warn-text: #2b1206;

    --app-danger-bg: #f32152;
    --app-danger-bg-lighten: #fa2f5f;
    --app-danger-bg-darken: #e8204f;
    --app-danger-text: #fff;

    --app-success-bg: #9dd400;
    --app-success-bg-darken: #94c900;
    --app-success-text: #1d3118;

    --app-background-darken: #e2e2e2;
    --app-background-darken-shade-1: #cbcbcb;

    --app-background-lighten: #f8f8f8;

    --app-text: #333;
    --app-placeholder-text: #ccc;

    --app-menu-bg: #1872d2;
    --app-menu-bg-hover: #d2dbe7;
    --app-menu-text-hover: #1872d2;
    --app-menu-bg-active: #1562b4;
    --app-menu-text: #fff;

    --app-border-color: #1872d2;
    --app-border-color-active: #9118d2;
    --app-border-color-disabled: #ccc;

    --app-control-bg: #f2f2f2;
    --app-control-bg-disabled: #eee;
    --app-control-text: #2b6699;
    --app-control-text-disabled: #999;

    --app-remark-text: #94a6ac;

    --app-link-text: #2196f3;
    --app-link-text-active: #2b6699;
    --app-danger-link-text: #f32152;
    --app-danger-link-text-active: #931432;
}
