:root {
    --app-font-size: 16px;

    --app-background: #f2f2f2;
    --app-page-background: #fff;

    --app-info-bg: #1872d2;
    --app-info-text: #fff;

    --app-warn-bg: #fac802;
    --app-warn-text: #2b1206;

    --app-error-bg: #f32152;
    --app-error-text: #fff;

    --app-success-bg: #b7f60a;
    --app-success-text: #1d3118;

    --app-background-darken: #e2e2e2;
    --app-background-darken-shade-1: #cbcbcb;

    --app-background-lighten: #f8f8f8;

    --app-text: #333;

    --app-border-color: #bbb;
    --app-border-color-active: #2196f3;

    --app-remark-text: #94a6ac;

    --app-link-text: #2196f3;
    --app-link-text-active: #2b6699;
    --app-danger-link-text: #f32152;
    --app-danger-link-text-active: #931432;

    --app-menu-logged-in-bg: #1f505f;
    --app-menu-logged-in-text: #deecff;

    --app-menu-logged-out-bg: #d1d9db;
    --app-menu-logged-out-text: #2b6699;

    --app-table-header-bg: #2b6699;
    --app-table-header-text: #fff;
    --app-table-border: #f2f2f2;
    --app-table-even-bg: #f2f2f2;
    --app-table-highlight-bg: #e2f6ff;
}
