.gun-action {
	display: flex;
	width: 100%;
	flex-flow: row nowrap;
	margin: 8px 0 16px;

	.action-date {
		display: flex;
		flex-flow: column wrap;
		font-size: var(--app-small-font-size);
		padding: 0 24px 0 0;
		flex-grow: 0;
		flex-shrink: 0;
		width: 150px;
		align-items: flex-end;
		position: relative;

		span {
			display: inline-flex;
			text-align: right;
			flex-flow: column wrap;
			color: var(--app-info-bg);

			&.extra-date {
				color: var(--app-remark-text);
				font-size: var(--app-very-small-font-size);
			}
		}

		.action-type {
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			background-color: var(--app-page-background);
			border: 2px solid var(--app-info-bg);
			color: var(--app-text);
			top: 0;
			right: -11px;
			z-index: 2;
		}

		&:first-child {
			&:after {
				top: 0;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: -8px;
			width: 2px;
			bottom: -16px;
			background-color: var(--app-info-bg);
			z-index: 1;
		}
	}

	.action-content {
		width: 100%;
		margin-left: 24px;
		flex-grow: 2;
		background-color: var(--app-page-background);
		padding: 16px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
		border: 2px solid var(--app-page-background);
		box-sizing: border-box;
		transition: all .2s ease-in;

		.action-title {
			display: flex;
			flex-flow: row nowrap;
			margin-bottom: 1em;

			h1 {
				margin: 0 auto 0 0;
				font-size: var(--app-big-font-size);
				display: flex;
				flex-flow: column nowrap;
			}

			div {
				font-size: var(--app-small-font-size);
				margin-left: 16px;
				display: flex;
				height: 24px;
				align-content: center;
				align-items: center;
			}

			div.action-shot {
				background-color: var(--app-info-bg);
				color: var(--app-info-text);
				padding: 0 8px;
				border-radius: 22px;
			}

			div.action-sum {
				font-size: var(--app-very-big-font-size);

				&.inherited {
					color: var(--app-remark-text);
				}
			}
		}

		.action-comment {
			color: var(--app-remark-text);

			&.no-data {
				opacity: .5;
				font-size: var(--app-small-font-size);
			}
		}

		.action-actions {
			height: 24px;
			margin-top: 1em;
			display: flex;
			flex-flow: row wrap;
			align-content: flex-end;
			justify-content: flex-end;
			font-size: var(--app-small-font-size);
			width: 100%;
			border-top: 1px solid var(--app-background);
			opacity: 0;
			transition: opacity .2s ease-in;

			a:last-child {
				margin-left: 3em;
			}
		}
	}

	&.last-item {
		.action-date {
			&:after {
				bottom: 0;
				background: linear-gradient(var(--app-info-bg), transparent);
			}
		}
	}

	&:hover {
		.action-content {
			border-color: #fac802;
		}

		.action-actions {
			opacity: 1;
		}
	}
}
