.top-panel {
	display: flex;
	align-items: center;
	width: 100%;
	white-space: nowrap;
	font-size: var(--app-small-font-size);
	margin-top: 2em;

	.stub {
		width: 100%;
	}

	transform-origin: top left;
	animation-name: top-panel-appear;
	animation-duration: .4s;
	animation-timing-function: ease-in-out;
}


:global {
	.track-modal {
		width: 700px;
		min-width: 600px;
		height: 450px;
		min-height: 400px;
	}

	.ck-editor-tab {
		min-width: 600px;
		min-height: 400px;
		max-height: 70vh;
		overflow-y: auto;

		.tab-content {
			height: 100%;
		}

		.ck-focused {
			outline: none !important;
			border: none !important;
		}
	}

	.ck-editor__editable, .ck-editor__editable_inline {
		min-height: 400px;
		max-height: 60vh;
		overflow-y: auto;
		background-color: var(--app-page-background);
	}
}

@keyframes top-panel-appear {
	0% {
		opacity: 0;
		transform: translateY(-15px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.container-floating {
	position: fixed;
	margin: 0 auto;
	min-width: 600px;
	max-width: 80vw;
	width: 100%;
	bottom: 64px;
	z-index: 10;

	.floating-add-action {
		position: absolute;
		right: 40px;
		bottom: 0;
		background-color: var(--app-link-text);
		width: 48px;
		height: 48px;
		border-radius: 48px;
		cursor: pointer;
		color: #fff;
		transition: all .2s ease;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
		opacity: .8;
		backdrop-filter: blur(8px);
		padding: 2px;

		&:hover {
			background-color: var(--app-link-text-active);
			box-shadow: 0 0 12px rgba(0, 0, 0, .3);
			opacity: 1;
			transform: scale(1.2);
		}
	}
}

@import "stat/actions-stat.less";
