.top-panel {
	display: flex;
	width: 100%;
	white-space: nowrap;
	font-size: var(--app-small-font-size);
	margin-top: 3em;

	& > div {
		&:not(:last-child) {
			margin-right: 2em;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				line-height: 1em;
				padding: 0;
				margin: 0 0 8px 0;
			}
		}

		&.stat-exp {
			margin-right: 1em;
		}
	}

	.stub {
		width: 100%;
	}
}

:global {
	.ck-editor-tab {
		min-width: 600px;
		min-height: 400px;

		.tab-content {
			height: 100%;
		}
	}

	.ck-editor__editable, .ck-editor__editable_inline {
		min-height: 400px;
		max-height: 60vh;
		overflow-y: auto;
	}
}
